@import 'tailwindcss';

@layer base{
    body{
        background-color: #943030;
        color: white;
        width: 100%;
        transition: background-color 0.2s ease-out;
        font-family: monospace !important;
    }
}

